<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bimbel.My.MySettings.bimbel_smk_nasionalConnectionString"
            connectionString="Data Source=LAPTOP-8J78RRM5;Initial Catalog=bimbel_smk_nasional;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>